body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7e7e7e;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
   
  }

  header h1 {
    margin: 0;
    padding: 30px;
  }
  
  main {
    background-color: rgba(233, 233, 233, 0.438);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .pascalina {
    height: 325px;
    width: 500px;
    background-color: rgb(163, 127, 10);
    user-select: none;
  }

  .interface {
    display: flex;
    height: 250px;
    width: 500px;
    background-color: rgb(192, 180, 11);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .placa {
    position: absolute;
    height: 40px;
    width: 430px;
    background-color: #bda865;
    translate: 0 -200%;
    transition: all 0.4s ease-in-out;
    z-index: 100;
  }

  .placa.abaixada {
    translate: 0 -90%;
  }

  .coluna{
    height: 200px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .digitos{
    height: 80px;
    width: auto;
    background-color: rgba(255, 0, 0, 0.181);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }

  .numero{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 15px;
    background-color: white;
    overflow: hidden;
    font-weight: 500;
  }

  .changed {
    animation: rodar .3s;
  }

  @keyframes rodar {
    50% {
      translate: 100% 0;
    }
    51% {
      translate: -100% 0;
    }
    100% {
      translate: 0;
    }
  }

  .roda{
    display: flex;
    height: 54px;
    width: 54px;
    border: rgb(196, 186, 157) solid 8px;
    border-radius: 50%;
    overflow: hidden;
  }

  .notacaoAngulo{
    display: none;
  }

  .raios {
    width: 54px;
    height: 54px;
    position: relative;
    /* transform: rotate(0deg); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
  }

  .raio {
    content: "";
    position: absolute;
    background-color: black;
    width: 6px;
    height: 70px;
  }

  .raio.deg30 {
    transform: rotate(35deg);
  }

  .raio.deg60 {
    transform: rotate(70deg);
  }

  .deg30:after, .deg60:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 7px;
    height: 70px;
  }

  .raio.deg30:after {
    transform: rotate(75deg);
  }

  .raio.deg60:after {
    transform: rotate(75deg);
  }
  
  @media (max-width: 520px) {
    .pascalina {
      width: 430px;
      transform: scale(0.8);
    }

    .interface {
      width: 430px;
    }
  }

  